@keyframes fadeIn {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(100px);
        opacity: 0;
    }
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 157px;
    z-index: 999;
    background-color: #f5f7f8;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .3s;
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: fadeIn .5s ease forwards;

    svg {
        width: 30px;
        height: 30px;
        stroke-width: 2;
        stroke: #e11d48;
    }
}

.scroll-to-top-stop {
    position: fixed;
    bottom: 20px;
    right: 157px;
    z-index: 999;
    background-color: #f5f7f8;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .3s;
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: fadeOut .5s ease forwards;

    svg {
        width: 30px;
        height: 30px;
        stroke-width: 2;
        stroke: #e11d48;
    }
}
/* HTML: <div class="loader"></div> */
